<section class="detail-view" id="detail-view" aria-labeledby="dialog-header">
<header id="dialog-header">
  Project Details 
  <button role="button" {{action "buttonClicked" param=itemId}}>close
    <span class="hidden-text">detail dialog</span>
  </button>
</header>
  <div>
    {{yield}}
    <article>
    	{{model.description}}
   	</article>
   	{{#if model.images}}
   	  <article>
   	    <h3>Images</h3>
   	    <ul>
   	    {{#each model.images}}
   	      <li><img src="{{url}}" class="responsive-img" alt="{{description}}"/></li>
   	    {{/each}}
   	    </ul>
   	  </article>
   	{{/if}}
   	{{#if model.links}}
   	  <article>
   	    <h3>Links</h3>
   	    <ul>
   	    {{#each model.links}}
   	      <li><a href="{{url}}" target="_blank">{{description}}</a></li>
   	    {{/each}}
   	    </ul>
   	  </article>
   	{{/if}}
    <button class="dialog-button" role="button" {{action "buttonClicked" param=itemId}}>go back to project list</button>
  </div>
</section>
