{{self-focusing-heading title="Engineering Work"}}
    <ul>
      {{#each model as |work|}}
      <li>
          <dl>
            <dt>{{work.project}}</dt>
            <dd>{{work.organization}}</dd>
            <dd {{action "focusSection"}}>{{#link-to 'engineering.details' work.itemId}}details <span class="hidden-text">Read more details about {{work.project}}.</span>{{/link-to}}</dd>
          </dl>
      </li>
    {{/each}}
    </ul>
{{outlet}}