{{self-focusing-heading title="Press"}}
    <ul>
      {{#each model as |pr|}}
      <li>
          <dl>
            <dt><a href={{pr.url}} target="_blank">{{pr.name}}</a></dt>
            <dd>{{pr.publication}}</dd>
            <dd>{{pr.reporter}}</dd>
          </dl>
      </li>
    {{/each}}
    </ul>